# Dart / Pub
.dart_tool/
.pub/
.pub-cache/
build/
pubspec.lock

# Coverage
coverage/

# IDE
.idea/
.vscode/
*.iml

# Misc
.DS_Store
*.log

# Local-only test fixtures (copyrighted material; do not commit)
test/fixtures/*.azw3
test/fixtures/*.azw
